.navbarlink {
  color: #f9f9f9 !important;
  text-decoration: none !important;
  padding: 5px 5px !important;
}

.navbarlinkActive {
  font-weight: bold !important;
  color: #f9f9f9 !important;
  text-decoration: none !important;
  padding: 15px 5px !important;
}

.navbar-container {
  position: fixed;
  z-index: 2;
  width: 100vw;
  background: linear-gradient(
    to bottom,
    rgb(128, 0, 0, 1),
    rgb(128, 0, 0, 0.4),
    rgb(128, 0, 0, 0)
  );
}
.Logoo {
  position: absolute;
  z-index: 3;
  top: 15px;
  left: 80px;
  color: white;
  font-size: 18pt;
  font-weight: 400;
}
