html, body, #root {
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  background-color: rgb(249, 241, 241) !important;
}

.menubar {
  background-color: rgb(128, 0, 0) !important;
  color: #333333 !important;
  padding: 0 !important; 
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100vw !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.menubar-container {
  background-color: rgb(128, 0, 0) !important;
  color: #f9f9f9 !important;
  width: 100% !important; 
}

.menubarlink {
  color: #f9f9f9 !important;
  text-decoration: none !important;
  /* transition: font-weight 0.1s; */
  padding: 5px 5px !important;
}

.menubarlink.active {
  font-weight: bold !important;
  padding: 15px 15px !important;
}

.list-section {
  color: #333333 !important;
}

.sub {
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 0;

}
