.navbarlink {
  color: #f9f9f9 !important;
  text-decoration: none !important;
  padding: 5px 5px !important;
}

.navbarlinkActive {
  font-weight: bold !important;
  color: #f9f9f9 !important;
  text-decoration: none !important;
  padding: 15px 5px !important;
}

.navbar-container {
  position: fixed;
  z-index: 2;
  width: 100vw;
  /* margin-right: 10em !important; */
  background: linear-gradient(
    to bottom,
    rgb(128, 0, 0, 1),
    rgb(128, 0, 0, 0.4),
    rgb(128, 0, 0, 0)
  );
}

.Logoo {
  position: absolute;
  z-index: 3;
  top: 15px;
  left: 80px;
  color: white;
  font-size: 18pt;
  font-weight: 400;
}

.shoppingCartContainer {
  position: relative;
  display: inline-block;
  margin-right: 1em; /* Adjust if needed */
}

.shoppingCarts {
  color: #f9f9f9 !important;
  font-size: 1.5rem !important;
}

.shoppingCartContainer:hover {
  /* color: #C8102E !important; */
  transform: translateY(-5px) !important;
}

.cart-count {
  position: absolute;
  /* top: 8px;
  right: 8px;  */
  color: white !important;
  text-decoration: none !important;
  padding: 0px !important;
  transform: translateY(-5px) !important;
  font-weight: bold !important;
  margin: 0 !important;
}
