.passwordResetContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin-top: 3rem;
}

.passwordResetDiv {
  justify-content: center;
  /* text-align: center; */
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.passwordResetHeading {
  text-align: center;
  color: rgb(128, 0, 0);
  margin-bottom: 1.5rem;
  font-size: 25px;
}

.passwordResetLabel {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: rgb(128, 0, 0);
}

.passwordResetInputField {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid rgb(128, 0, 0);
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
}

.passwordResetInputField:focus {
  border: 2px solid rgb(155, 2, 2);
  outline: none;
  box-shadow: 0 0 3px rgba(155, 2, 2, 0.5);
}

.passwordResetButton {
  width: 100%;
  padding: 0.8rem;
  background-color: rgb(128, 0, 0);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.passwordResetButton:hover {
  background-color: rgb(155, 2, 2);
}

.passwordReset {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.passwordReset button {
  background: none;
  border: none;
  color: rgb(128, 0, 0);
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  margin-left: 0.5rem;
}

.passwordReset button:hover {
  color: rgb(155, 2, 2);
}

.passwordReset {
  text-align: center;
  margin-top: 0 !important;
  font-size: 0.9rem;
}

.passwordReset button {
  background: none;
  border: none;
  color: rgb(128, 0, 0);
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  margin-left: 0.5rem;
}

.passwordReset button:hover {
  color: rgb(155, 2, 2);
}

/* password container */
.passwordResetPasswordContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.passwordResetPasswordLabel {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: rgb(80, 0, 0);
  font-weight: bold;
}

.passwordResetInputPasswordField {
  position: relative;
  width: 100%;
}

.passwordResetPasswordInput {
  width: 100%;
  padding: 0.8rem;
  padding-right: 2.5rem; /* Reserve space for the eye icon */
  margin: 0;
  border: 1px solid rgb(128, 0, 0);
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.passwordResetPasswordInput:focus {
  border: 2px solid rgb(155, 2, 2);
  outline: none;
  box-shadow: 0 0 3px rgba(155, 2, 2, 0.5);
}

.passwordResetEyeIcon {
  position: absolute;
  top: 50%;
  right: 0.8rem;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.2rem;
  color: rgb(128, 0, 0);
  transition: color 0.3s ease;
  font-size: 1.5rem;
}

.passwordResetEyeIcon:hover {
  color: rgb(155, 2, 2);
}
