.registerContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin-top: 3rem;
}

.registerDiv {
  justify-content: center;
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.registerHeading {
  text-align: center;
  color: rgb(128, 0, 0);
  margin-bottom: 1.5rem;
  font-size: 25px;
}

.registerLabel {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: rgb(128, 0, 0);
}

.registerInputField {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid rgb(128, 0, 0);
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
}

.registerInputField:focus {
  border: 2px solid rgb(155, 2, 2);
  outline: none;
  box-shadow: 0 0 3px rgba(155, 2, 2, 0.5);
}

.registerButton {
  width: 100%;
  padding: 0.8rem;
  background-color: rgb(128, 0, 0);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.registerButton:hover {
  background-color: rgb(155, 2, 2);
}

.registerLogin {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.registerLogin button {
  background: none;
  border: none;
  color: rgb(128, 0, 0);
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  margin-left: 0.5rem;
}

.registerLogin button:hover {
  color: rgb(155, 2, 2);
}

/* password container */
.registerPasswordContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.registerPasswordLabel {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: rgb(80, 0, 0);
  font-weight: bold;
}

.registerInputPasswordField {
  position: relative;
  width: 100%;
}

.registerPasswordInput {
  width: 100%;
  padding: 0.8rem;
  padding-right: 2.5rem; /* Reserve space for the eye icon */
  margin: 0;
  border: 1px solid rgb(128, 0, 0);
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.registerPasswordInput:focus {
  border: 2px solid rgb(155, 2, 2);
  outline: none;
  box-shadow: 0 0 3px rgba(155, 2, 2, 0.5);
}

.registerEyeIcon {
  position: absolute;
  top: 50%;
  right: 0.8rem;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.2rem;
  color: rgb(128, 0, 0);
  transition: color 0.3s ease;
  font-size: 1.5rem;
}

.registerEyeIcon:hover {
  color: rgb(155, 2, 2);
}
