.container {
  margin-left: auto;
  width: 100vw;
  position: relative;
}
.container .slide {
  height: 80vh; /* or any specific height */
  position: relative; /* to keep .item absolute positioning within this container */
}

/* .container .slide .color-ajdsutment {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(56, 0, 0, 0.3);
} */
.container .slide .item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
  display: inline-block;
  filter: brightness(0.9);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.item .content {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 30%;
  text-align: left;
  color: rgb(255, 255, 255);
  transform: translate(0, -50%);
  background-color: rgba(78, 0, 0, 0.25);
  box-shadow: 0 0 30px rgba(78, 0, 0, 0.5);
  padding: 10px;
  /* display: none; */
}
.content {
  transition: opacity 0.5s ease; /* Add this line */
}

.content .name {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  animation: animate 1s ease-in-out 1 both;
}

.content .des {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 14pt;
  opacity: 0;
  animation: animate 1s ease-in-out 0.3s 1 both;
}

.content button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@keyframes animate {
  from {
    opacity: 0;
    transform: translate(0, 100px);
  }

  to {
    opacity: 1;
    transform: translate(0);
  }
}

.content button:hover {
  color: #ffffff; /* White */
  background-color: rgb(128, 0, 0); /* Dark orange */
}

/* out of the slide container */
.button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
}

.button button {
  /* width: 40px;
    height: 35px; */
  border-radius: 8px;
  padding: 3px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  border: 1px solid #000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button button:hover {
  background-color: rgb(128, 0, 0);
  color: #fff;
}
