.reservation h1 {
  text-align: center;
}

.reservation p {
  text-align: center;
  font-weight: bold;
}

.reservation-selector {
  width: 70vw;
  margin-left: 20%;
  text-align: left;
  background-color: white;
  border-radius: 10px;
  padding: 2%;
  box-shadow: 2px 2px 4px 1px rgb(129, 22, 22, 0.2);
}

.react-datepicker__day--selected {
  background-color: rgb(129, 22, 22) !important;
  color: white !important; /* Optional: Ensure text is readable */
}
