.Testimonial-desc {
  width: 100%;
  position: relative;
  /* margin-top: 1; */
  text-align: center;
  /* background-color: rgb(128, 0, 0); */
}
.Testi-header {
  padding-top: 2%;
}
.Testi-header h1,
.Testi-header p {
  color: white;
}

.Testi-header {
  background: linear-gradient(
    to bottom,
    rgb(128, 0, 0, 1),
    rgb(128, 0, 0, 0.6),
    rgb(128, 0, 0, 0)
  );
  height: 50vh;
}

.witness-cont {
  /* position: absolute;
  top: 30%; */
  margin-top: -15.5%;
}
.Testimonial-desc .witness-cont {
  width: 100%;
  display: flex;
  justify-content: center;
}

.witness {
  width: 20%;
  margin: 2.5%;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  border: 2px solid rgb(128, 0, 0);
}

.witness p {
  color: rgb(128, 0, 0);
}
.witness .prof {
  width: 150px;
  height: 150px;
  border: 2px solid rgb(128, 0, 0);
  border-radius: 50%;
}
.social-icon {
  display: flex;
  justify-content: center;
  gap: 10%;
}
.social-icon img {
  max-width: 30px;
  max-height: 40px;
  border-radius: 50%;
  border: 2px solid rgb(128, 0, 0);
  padding: 4px;
}
