/* Override Bootstrap styles */
.navbar {
  background-color: #FCE4DF !important; /* Example: Customize navbar background color */
}

.navbar-container {
  background-color: #FCE4DF; /* Same background color for the whole section */
  padding: 10px; /* Optional: Add some padding for spacing */
}

.navbarlink {
    color: #FF2C00 !important
}

/* Add custom styles
.menu-page h1 {
  color: #ff6347; 
  font-size: 2.5rem;
}

.menu-page ul {
  padding-left: 0; 
  list-style-type: none;
} */
